@charset "UTF-8";

#conteudo .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
}

#conteudo .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 12px;
    text-align: center;
}

#conteudo {
    width: 100%;
    float: right;		
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

figure {
    display: inline-block;
    border: 0px dotted gray;
    margin: 20px;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    border: 1px dotted blue;
    text-align: center; 
}

#conteudo h6 {
   margin-bottom: 10px; 
   font-weight: bold; 
}

#conteudo p {
   color: #666; 
}

h1{
  text-align: center;
}