@charset "UTF-8";

#conteudo .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#conteudo .grid-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

#conteudo figure {
    margin: 0;
}

#conteudo img {
    width: 100%;
    height: auto;
}

#conteudo figcaption {
   padding: 15px;
   text-align: center; 
}

#conteudo h6 {
   margin-bottom: 10px; 
   font-weight: bold; 
}

#conteudo p {
   color: #666; 
}

h1{
  text-align: center;
}