@charset "UTF-8";

#conteudo {
    width: 100%;
    float: right;		
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

figure {
    display: inline-block;
    border: 0px dotted gray;
    margin: 20px;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    border: 1px dotted blue;
    text-align: center; 
}

p {
   color: #666; 
}

h1{
  text-align: center;
}